body {
	background-color: green;
	display: flex;
	justify-content: center;
}

section {
	display: flex;
	justify-content: center;
    flex-direction: column;
}

section button {
	padding-top: 30px;
}

button {
	background-color: white;
}

h1 {
	color: white;
}