body {
	background-color: green;
	display: flex;
	justify-content: center;
}

section {
	display: flex;
	justify-content: center;
	padding-top: 10px;
    flex-direction: column;
}

button {
	color: white;
}